<img src="https://i.imgur.com/AFbMoin.jpg">
<h4>lord of the rings is better</h4>
<h2>Please choose</h2>
<input type="number" placeholder="id" 
min ='1' max = '5' [(ngModel)]='frmId'/> <br/>

<select [(ngModel)]='whichCategory'> 

    <option *ngFor='let item of choices'>{{item.cat}}</option>

</select>


<button (click)='handleClick()'>CHOOSE</button>


<h2>Here are the results</h2>

<div *ngIf='whichCategory=="species" '>Hair Colour:{{model.hair_colors}} Eye Colour:{{model.eye_colors}}</div> 
<div *ngIf='whichCategory=="starships" '>Manufacturer: {{model.manufacturer}} Length: {{model.length}}</div>
<div *ngIf='whichCategory=="vehicles" '>Model: {{model.model}} Crew: {{model.crew}}</div>
<div *ngIf='whichCategory=="people" '>Height: {{model.height}} Mass: {{model.mass}}</div>
<div *ngIf='whichCategory=="planets" '>Rotation Period :{{model.rotation_period}} Popuation:{{model.population}} </div>


<pre>{{model | json}}</pre>